{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="'stylesheet" href="stylel.css">
<!-- <link rel="stylesheet" href="{% static 'testframework/css/stylel.css' %}"> -->
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<title>Mumbai Hackathon</title>
</head>
<body>
    <!--{% load static %}-->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Required meta tags 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="'stylesheet" href="stylel.css">
 <link rel="stylesheet" href="{% static 'testframework/css/stylel.css' %}"> -->
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<title>Mumbai Hackathon</title>
</head>
<body>
    <body class="page">
        <header class="page__header">
            <p>Logo</p>
            <nav>
                <ul role="list">
                    <li>Nav item 1</li>
                    <li>Nav item 2</li>
                    <li>Nav item 3</li>
                </ul>
            </nav>
        </header>
    
        <div class="page__main">
            <main>
                <h1>Main</h1>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu augue mauris. Sed volutpat quam mi, eu volutpat lacus imperdiet vitae. Ut gravida id ligula sit amet blandit. Donec eget iaculis turpis. Suspendisse porta tincidunt mi at feugiat. Nulla in elementum lorem. Morbi venenatis felis non tempor suscipit. Nam feugiat turpis consectetur sollicitudin posuere. Nam et gravida lectus. Fusce luctus velit ut diam hendrerit vehicula. Vestibulum ornare ut sem sit amet cursus. Sed tellus massa, aliquet ac rhoncus nec, vulputate laoreet urna.</p>
    
                <p>Nam eu lorem semper, consectetur nibh vel, finibus ligula. Curabitur tempor arcu eu felis porttitor sollicitudin. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce et orci sed est egestas hendrerit. Curabitur semper neque dictum dui vulputate, vehicula pretium erat semper. Integer maximus, urna a vestibulum faucibus, sapien mauris sodales tellus, eget sodales magna massa varius lorem. Quisque elementum orci eu purus fringilla convallis. Ut molestie gravida ipsum sit amet gravida. Sed dolor felis, luctus sit amet felis at, dapibus tempus nisl.</p>
    
                <p>Nullam ex urna, auctor ac luctus non, tempus at sapien. In feugiat eros at rutrum lacinia. Phasellus nisl quam, hendrerit quis ornare at, sollicitudin non elit. Aenean malesuada lorem ac leo facilisis, id viverra est accumsan. Aenean pretium, diam sit amet mattis efficitur, massa arcu porttitor magna, ornare dictum massa lectus vestibulum tellus. Donec ac volutpat urna, sit amet tristique urna. Donec sed eros a tellus iaculis ullamcorper. Quisque quis sodales nisi, ut rutrum nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>
            </main>
            
            <footer>
                <p>Footer</p>
            </footer>
        </div>
    </body>
</body>
</html>


</body>
</html>
