{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<link rel="stylesheet" href="{% static 'testframework/css/stylelogin.css' %} ">
<title>Mumbai Hackathon</title>
  </head>
  <body>
    <div class="container">
      <div class="forms">
        <div class="form login">
          <span class="title">Login</span>
    
          <form id="loginForm" action="#">
            <div class="input-field">
              <input id="loginid" type="text" placeholder="Enter your email">
              <i class="uil uil-envelope"></i>
            </div>
    
            <div class="input-field">
              <input id="passwd" type="password" class="password" placeholder="Enter your password">
              <i class="uil uil-lock icon"></i>
              <i class="uil uil-eye-slash showHidePw"></i>
            </div>
    
            <div class="checkbox-text">
              <div class="checkbox-content">
                <input type="checkbox" id="logCheck">
                <label for="logCheck" class="text">Remember me</label>
              </div>
    
              <a href="#" class="text">Forgot password?</a>
            </div>

            <button onclick="javascript:Login.checkValue();" class="btn btn-sm btn-primary btn-block">Submit</button>

          </form>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'testframework/js/login.js' %}"></script>
    <script src="{% static 'testframework/js/handling.js' %}"></script>
</body>
</html>